img {
    width: 300px;
}


/*Global Styles
--------------------------------------*/


*{
    color: azure;
}



h1{ 
    color: antiquewhite;
}



/*Profile Styles
--------------------------------------*/

h2{

    color: aliceblue;
}

a {

    color: azure;
    background-color: blue;
    text-decoration: none;

}




/*Work Exp Styles
--------------------------------------*/




/*Educational background
--------------------------------------*/







/*Contacts
--------------------------------------*/